<style>
/* unvisited link */
a:link {
    color: #66ff99;
}

/* visited link */
a:visited {
    color: #00ffff;
}

/* mouse over link */
a:hover {
    color: #2EFE00;
}

/* selected link */
a:active {
    color: #26E720;
}

.trash {
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}


.trash:hover{
  transform: scale(1.5) !important;
}
</style>
