{% extends "homepage.html" %} {% block body %}

<!-- Form -->
<form action="{{ url_for('welcome')}}" id="content" method="GET">
  <div class="form-group" style="margin-top:40px">
    <label for="search" style="color:white; font-family: 'Caveat', cursive;font-size:40px">What are you looking for?</label>
    <input type="text" class="form-control" placeholder="Search" name="query" value="{{ word }}">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
<!-- form ends -->

<div role="tabpanel" style="margin-top:20px">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#meaning" aria-controls="basics" role="tab" data-toggle="tab">Meaning</a></li>
    <li role="presentation"><a href="#synonym" aria-controls="wdev" role="tab" data-toggle="tab">Synonym</a></li>
    <li role="presentation"><a href="#antonym" aria-controls="dan" role="tab" data-toggle="tab">Antonym</a></li>
    <li role="presentation"><a href="#usage" aria-controls="dan" role="tab" data-toggle="tab">Usage Example</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" style="color:white; font-family: 'Ubuntu Condensed', sans-serif;font-size:20px;margin-top:20px; margin-bottom:25px">
    <div role="tabpanel" class="tab-pane fade in active" id="meaning">
      {% for meaning in values['meaning'] %}
      <ul>
        <li>{{ meaning }}</li>
      </ul>
      {% endfor %}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="synonym">{{ values['synonym'] }}</div>
    <div role="tabpanel" class="tab-pane fade" id="antonym">{{ values['antonym'] }}</div>
    <div role="tabpanel" class="tab-pane fade" id="usage"><i>Ex ~ {{ values['usage'] }}</i></div>

  </div>

</div>


{% endblock %}
